<ul style="color:red; font-weight: bold;">
    <li th:each="error : ${#fields.detailedErrors()}">
        <span th:text="${error.message}">Error message</span>
    </li>
</ul>        
<p>
    <label for="jobCategoryId">職種</label>
    <select th:field="*{jobCategoryId}">
        <option th:each="jobCategory : ${jobCategories}" 
                th:value="${jobCategory.id}"
                th:text="${jobCategory.name}"></option>
    </select>
</p>
<p>
    <label for="name">名前</label>
    <input type="text" th:field="*{name}">
    <input type="submit" value="登録">    
</p>
