<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>Employee List</h1>
    <div style="color:blue; font-weight: bold;" th:text="${message}"></div>
    <a href="/employees/create">Create</a>
    <table border="1">
        <tr th:each="employee : ${employees}" >
            <td th:text="${employee.id}"></td>
            <td>
                <a th:href="@{/employees/edit(id=${employee.id})}"
                   th:utext="${employee.name}"></a>
            </td>
            <td th:text="${employee.jobCategory.id}"></td>
            <td th:text="${employee.jobCategory.name}"></td>
        </tr>
    </table>
</body>
</html>