<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Employee Info</h1>
    <ul>
        <li th:text="${employee.id}"></li>
        <li th:text="${employee.name}"></li>
        <li th:text="${employee.jobCategory.id}"></li>
        <li th:text="${employee.jobCategory.name}"></li>
    </ul>
</body>
</html>