<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Job Category Info</h1>
    <ul>
        <li th:text="${jobCategory.id}"></li>
        <li th:text="${jobCategory.name}"></li>
    </ul>
    <h2>Employee List</h2>
    <table border="1">
        <tr th:each="employee : ${jobCategory.employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
        </tr>
    </table>
</body>
</html>